<div class="row">
    <div *ngFor="let item of items" class="col s1">
        <div>
            <a class="btn-floating btn-large waves-effect waves-light accent-4" [ngClass]="{'yellow': item.canUse, 'red': !item.canUse}" (click)="blockCoin(item)">{{item.name}}</a>
        </div>
        <div>
            <p><input type="number" min="0" class="validate" [(ngModel)]="item.quantity" (change)="saveItem(item)"></p>
        </div>
    </div>
    <div class="col s5">
        <h5 class="header">Общая сумма: <span class="red-text">{{ getTotal() }}</span> руб.</h5>
        заблокировано: {{BlockSum}} руб. <br>
        доступно: {{UnBlockSum}} руб.<br>
    </div>
</div>

