<div class="row">
    <div *ngFor="let coin of coins" class="col s1">
        <div>
            <a class="btn-floating btn-large waves-effect waves-light accent-4 yellow" [ngClass]="{'disabled':  !(coin.canUse )}"
               (click)="addCoin(coin)">{{coin.name}}</a>
            <div class="grey-text">{{coin.quantity}} + {{purchase.CoinQuantity(coin.name)}}</div>
        </div>

    </div>
    <div class="col s5">
        <h5 class="header">Общая сумма: <span class="red-text">{{ purchase.TotalSumCoin() }}</span> руб.</h5>
        <h6 class="header">Отложено: <span class="red-text">{{ purchase.TotalSumDrink() }}</span> руб.</h6>
        <h6 class="header">Остаток: <span class="red-text">{{ purchase.TotalSumCoin() - purchase.TotalSumDrink() }}</span> руб.</h6>

    </div>

    <div class="col s3">
        <a class="waves-effect waves-light waves-light btn" (click)="BuyDrinks()" [ngClass]="{'disabled':  !(purchase.TotalSumDrink()>0) }">Купить</a>
    </div>
</div>




<div class="row grey-text">
    <a class="waves-effect waves-light waves-light" (click)="ClearDrink()">Отменить</a>
    <span *ngFor="let p of purchase.DrinkLines">
        <b>{{p.drink.name}}</b> <span class="amber-text">{{p.drink.price}} руб. </span>
    </span>
</div>




<div class="row">
    <div class="col s3" *ngFor="let drink of drinks">
        <div class="card">
            <div class="card-image">
                <img src="/files/{{ drink.imageName }}" />
            </div>
            <div class="card-content">
                <span class="red-text">
                    {{ drink.name }}
                </span>
                <p>{{ drink.price }} руб.</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" (click)="addDrink(drink)" [ngClass]="{'disabled':  (drink.Quantity-purchase.quantitydDrink(drink.id)==0) || ((purchase.TotalSumCoin()- purchase.TotalSumDrink()) < drink.price)}">Выбрать</a>
            </div>
        </div>
    </div>
</div>
